* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.box {
  background: coral;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
}
.box-1 {
	border:none;
	border-top:solid blue 4px;
	border-bottom:solid red 4px;
}
.box-2 {
	border-radius: 10px;
}
.box-3 {
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}