* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
	margin:20px auto;
	width:50%;
}
.box {
	background-color:lightblue;
	padding:10px 20px;
	margin:10px;
	width:400px;
}
.ref {
	background-color:coral;
	margin:10px;
	width:400px;
	padding:10px 20px;
}