body {
  font-family: 'Poppins', sans-serif;
}
.box {
	background-color:darkblue;
	color:#fff;
	padding:20px;
	margin:10px;
	border:3px solid green;
}
.box-1 {
	width:200px;
	height:100px;
	overflow: hidden; ##/scroll
}

.box-2 {
	width:50%;
	
}
.box-2 p {
	width:50%;
}
.box-3 {
	max-width:800px;
}
