body {
  font-family: Arial, sans-serif;
}
/*
Styling Links

states
a:link; => Normal unvisited link
a:hover;=> link when hovered
a:active; => moment link is clicked
a:focus; => moment link recieves focus
a:visited => link users has viseted


*/
a {
	text-decoration: none;
	color:#333;
}
a:hover{
	color:red;
}
a:active {
	background: purple;
}
a:focus {
	background:yellow;
}
a:visited {
	color:coral;
}
